<style>
    body {
        background: blueviolet;
    }

    h1{
     text-align: center;
     color: white;
    }
    h1 a{
        color: green;
    }

    h2{
        text-align: center;
        margin-top:20vh;
        font-size:5em;
    }
</style>

<h1>ENTER THIS CODE IN THE <a href="/down">DOWNLOADS</a> SECTION:</h1>

<h2 id="code">{{code}}</h2>